/* Fonts */ 
@font-face {
    font-family: 'Athletics';
    src: url('fonts/Athletics-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Athletics-Medium';
    src: url('fonts/Athletics-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 42px;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
}
h2 {
    font-size: 18px;
    font-weight: normal;
}


/* Main Container */ 
body {
    background-color: white;
    color: #3c4043;
    font-size: 18px;
    font-family: 'Athletics', sans-serif;
    line-height: 1.4;
    margin: 0;
}
.main {
    margin: 0 auto;
    max-width: 70vw;
    padding: 6vh 20px 6vh 20px;
    transition: margin 0.3s;
    transition: padding 0.3s;
}


/* Header */ 
header {
    background-color: #eef0f1;    
}
.h-content {
    margin: 0 auto;
    max-width: 70vw;
    padding: 0 20px 0 20px;
    transition: margin 0.3s;
    transition: padding 0.3s;
}
/* Header - Navigation Bar */ 
nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8vh 0 8vh 0;
    height: 18px;
    width: 100%;
}
.n-icons {
    height: 18px;
}
.n-icon {
    filter: invert(22%) sepia(8%) saturate(377%) hue-rotate(163deg) brightness(100%) contrast(92%);
    height: 18px;
    width: 18px;
}
.n-link {
    display: inline-block;
    height: 18px;
    margin-left: min(80px, 6vw);
    width: 18px;
}
/* Header - Personal Information */
.info {
    padding: 2vh 0 2vh 0;
    display: flex; 
} 
.i-text {
    flex: 7;
}
.i-introduction {
    align-items: center;
    display: flex;
    padding: 1vh 0 1vh 0;
}
.i-portrait {
    flex: 4;
}
.i-img {
    text-align: right;
}
.i-img img {
    width: 240px;
    height: 240px;
    border-radius: 2px;
}
.i-subtitle {
    padding: 6vh 0 2vh 0;
    display: flex;
    align-items: center;
    min-width: 25px;
    font-size: 17px;
    margin: 0;
}

/* Publication List */
.p-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin: 1vh auto 4vh auto;
}
.p-card {
    height: 470px;
    vertical-align: top;
    background-color: #f7f7f7;
    border: 1px solid #dadce0;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-content {
    height: calc(100% - 45px);
    width: calc(100% - 45px);
    padding: 0px;
    position: relative;
}
.p-image {
    height: 176px;
    width: 100%;
    background-color: #e8eaed;
    border-radius: 6px;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.p-image img {
    height: 80%;
    width: 100%;
    display: block;
    float: center;
    object-fit: contain;
    object-position: center;
}
.p-image::after {
    content: "";
    clear: both;
    display: table;
}
.p-title {
    font-size: 18px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 12px;
    display: flex;
   align-items: center;
}
.p-title h2 {
    font-size: 18px;
    font-weight: normal;
}
.p-title h2:first-child {
    white-space: nowrap;
    align-self: flex-start;
    color: #9aa0a6;
    margin: 0 10px 0 0;
}
.p-title h2:last-child {
    flex-grow: 1;
    margin: 0 10px 0 0;
}
.p-details{
    align-items: center;
    display: flex;       
    margin-top: 12px;
    margin-bottom: 12px;
}
.p-icon-container {
    display: flex;
    align-items: center;
    min-width: 25px;
}
.p-icon {
    width: 20px;
    height: 20px;
    margin: 0 2px 0 2px;
    display: flex; 
    filter: invert(22%) sepia(8%) saturate(377%) hue-rotate(163deg) brightness(100%) contrast(92%);
}
.p-icon-desc {
    padding-left: 6px;
    display: flex;   
    font-size: 16px;    
    color: #333;
}
.p-description {
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
    margin-left: 2px;
}
.p-links {
    width: 350px; 
    height: 36px;
    display: inline-block;
    display: flex;
    border-radius: 6px;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    bottom: 0px;
    font-size: 14px;
}
.p-btn {
    padding-top: 2px;
    min-width: 72px;
    height: 30px;
    display: inline-block;
    display: flex;
    border: 1px solid #dadce0;
    border-radius: 6px;
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    margin-right: 15px;
    color: #393939;
}
.p-btn:hover {
    background-color: #f8f9fa;
}



.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 320px;
}

.text-above-card p {
    font-size: 18px;
    font-style: bold;
    font-family: 'Athletics-Medium', sans-serif;
    color: #333;
    margin-bottom: 10px; 
    width: 86%; 
    text-align: left;
    margin-left: 5px;
}

.text-placeholder {
    height: 53px; 
    visibility: hidden;
}


/* Responsiveness */ 
@media screen and (min-width: 1460px) {

    /* Main Container Width */ 
    .main {
        width: 1280px;
    }
    .h-content {
        width: 1280px;
    }
    
}
@media screen and (max-width: 1280px) {

    /* Main Container Width */ 
    .main {
        max-width: 80vw;
        padding: 6vh 10px 6vh 10px;
    }
    .h-content {
        max-width: 80vw;
        padding: 0 10px 0 10px;
    }

    /* Hide Portrait */ 
    .i-portrait {
        display: none;
    }
}
@media (max-width: 600px) {
    
    /* Card Width */
    .card-wrapper {
        width: 80vw;
    } 
}
@media screen and (max-width: 420px) {

}
