@font-face {
    font-family: 'Athletics';
    src: url('fonts/Athletics-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-size: 28px;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
}

/* Main Container */ 
body {
    background-color: white;
    margin: 0;

    /* Font */ 
    font-family: 'Athletics', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    color: #3c4043;
}

/* Header */ 
header {
    background-color: #eef0f1;

    min-height: 48px;
    
}
.h-content {
    max-width: 70vw;

    /* Spacing */ 
    margin: 0 auto;
    padding: 0 40px 0 40px;
    transition: padding 0.3s;
    transition: margin 0.3s;
}
nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 8vh;
    padding-bottom: 8vh;
}
.a-link {
    display: inline-block;
    height: 17px;
    margin: 0 0 0 6vw; 
    margin-left: min(80px, 6vw);
    width: 17px;
}
.a-icon {
    filter: invert(22%) sepia(8%) saturate(377%) hue-rotate(163deg) brightness(100%) contrast(92%);
    height: 17px;
    width: 17px;
}

/* Personal Information */
.info {
    padding: 4vh 0 4vh 0;
    display: flex; 
} 
.info h1 {
    font-size: 42px;
    padding: 1vh 0 1vh 0;
}
.info-details {
    padding: 1vh 0 1vh 0;
    display: flex;
    align-items: center;
    min-width: 25px;
}
.info-image {
    flex: 5;
}
.info-text {
    flex: 5;
}
.info-text h1 {
    font-size: 36px;
    margin-bottom: 0.5em;
}
.info-text p {
    line-height: 1.4; 
    margin-bottom: 0;
}
@media (max-width: 600px) {
    .info {
      flex-direction: column;
    }
  
    .info-image,
    .info-text {
      max-width: 100%;
    }
}
.i-img {
    grid-column: span 12;
    text-align: right;
}
.i-img img {
    width: 240px;
    height: 240px;
    border-radius: 120px;
}
.i-img-desc {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.info-btn {
    padding: 2vh 0 1vh 0;
    display: flex;
    align-items: center;
    min-width: 25px;
    margin-top: 0;
}
.i-btn {
    padding-top: 2px;
    min-width: 90px;
    height: 36px;
    display: inline-block;
    display: flex;
    background-color: #e0e3e5;
    border: 1px solid #e0e3e5;
    border-radius: 6px;
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    margin-right: 20px;
    color: #393939;
}
.i-btn:hover {
    background-color: #e3e6e7;
}
.info-subtitle {
    padding: 14vh 0 1vh 0;
    display: flex;
    align-items: center;
    min-width: 25px;
}

/* Publication List */
.main {

    max-width: 70vw;

    /* Spacing */ 
    margin: 0 auto;
    padding: 0 40px 0 40px;
    padding-top: 6vh;
    padding-bottom: 6vh;
    transition: padding 0.3s;
    transition: margin 0.3s;
}
.s-title {
    font-size: 36px;
    font-weight: normal;
    height: 48px;
}
.s-description {
    padding: 3vh 0 3vh 0;
}
.link {
    margin: 0;
}
.p-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto 4vh auto;
    float: left;
}
.p-card {
    height: 550px;
    width: 350px;
    grid-column: span 3;
    vertical-align: top;
    background-color: #f7f7f7;
    border: 1px solid #dadce0;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-content {
    height: 500px;
    width: 300px;
    padding: 0px;
    position: relative;
}
.p-line {
    height: 8px;
    width: 300px;
    background-color: #e8eaed;
    border-radius: 100px;
    display: block;
}
.p-image {
    height: 146px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}
.p-image img {
    height: 146px;
    width: 300px;
    display: block;
    float: center;
    object-fit: contain;
    object-position: center;
}
.p-image::after {
    content: "";
    clear: both;
    display: table;
}
.p-title {
    font-size: 20px;
    font-weight: normal;
    margin-top: 24px;
}
.p-details{
    align-items: center;
    display: flex;       
    margin-top: 20px;
    margin-bottom: 20px;
}
.p-icon-container {
    display: flex;
    align-items: center;
    min-width: 25px;
}
.p-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 2px;
    display: flex; 
    filter: invert(22%) sepia(8%) saturate(377%) hue-rotate(163deg) brightness(100%) contrast(92%);
}
.p-icon-desc {
    padding-left: 2px;
    margin-right: 20px;
    padding-top: 3px;
    display: flex;   
    font-size: 16px;    
    color: #3c4043;
}
.p-description {
    font-size: 16px;
    font-weight: 100;
}
.p-links {
    width: 350px; 
    height: 36px;
    display: inline-block;
    display: flex;
    border-radius: 6px;
    align-items: center; /* vertical alignment */
    justify-content: left; /* horizontal alignment */
    cursor: pointer;
    text-decoration: none;
    position: absolute;      /* Button positioned absolutely */
    bottom: 0px;
    font-size: 14px;
}
.p-btn {
    padding-top: 2px;
    min-width: 90px;
    height: 36px;
    display: inline-block;
    display: flex;
    border: 1px solid #dadce0;
    border-radius: 6px;
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    margin-right: 20px;
    color: #393939;
}
.p-btn:hover {
    background-color: #f8f9fa;
}

/* Responsiveness */ 
@media screen and (min-width: 1460px) {
    .h-content {
        width: 1180px;
    }
    .main {
        width: 1080px;
    }
}
